<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:util="http://www.springframework.org/schema/util"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:jpa="http://www.springframework.org/schema/data/jpa"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/util 
      http://www.springframework.org/schema/util/spring-util.xsd
      http://www.springframework.org/schema/data/jpa
      http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">

   <!-- Imports -->
   <import resource="classpath:context/datasource-properties.xml" />
   <import resource="classpath:context/persistence-versioning.xml" />
   <import resource="classpath:context/persistence-aop.xml" />

   <!-- ============================= CONFIGURATION ============================= -->

   <!-- Repositories -->
   <jpa:repositories
      base-package="com.bernardomg.example.spring.mvc.security.**.repository" entity-manager-factory-ref="sessionFactory" />

   <!-- ================================== JPA ================================== -->

   <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <property name="packagesToScan" value="${jpa.packagesToScan}" />
      <property name="hibernateProperties" ref="jpaProperties" />
   </bean>

   <!-- JPA Properties -->
   <util:map id="jpaProperties">
      <entry key="hibernate.dialect" value="${hibernate.dialect}" />
      <entry key="hibernate.hbm2ddl.auto" value="${hibernate.hbm2ddl.auto}" />
      <entry key="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy" />
      <entry key="hibernate.show_sql" value="${jpa.showSql}" />
      <entry key="hibernate.format_sql" value="${hibernate.format_sql}" />
      <entry key="hibernate.cache.use_second_level_cache" value="${hibernate.cache.use_second_level_cache}" />
      <entry key="hibernate.cache.use_query_cache" value="${hibernate.cache.use_query_cache}" />
      <entry key="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory" />
   </util:map>

   <!-- Transaction manager -->
   <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>

   <!-- Activates transactionality -->
   <tx:annotation-driven transaction-manager="transactionManager" />

</beans>