<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<Configuration status="WARN">

   <Properties>
      <Property name="filename">app.log</Property>
   </Properties>

   <Appenders>
      <Console name="console" target="SYSTEM_OUT">
         <PatternLayout pattern="[%p] %d %c %M - %m%n" />
      </Console>

      <File name="file" fileName="${filename}">
         <PatternLayout pattern="[%p] %d %c %M - %m%n" />
      </File>
   </Appenders>

   <Loggers>
      <Logger name="com.bernardomg.example" level="debug" additivity="false">
         <AppenderRef ref="console" />
      </Logger>

      <!-- Spring Framework -->
      <Logger name="org.springframework" level="warn" additivity="false">
         <AppenderRef ref="file" />debug
         <AppenderRef ref="console" />
      </Logger>
      <Logger name="org.springframework.security" level="warn" additivity="false">
         <AppenderRef ref="file" />
         <AppenderRef ref="console" />
      </Logger>

      <!-- Hibernate -->
      <Logger name="org.hibernate" level="warn" additivity="false">
         <AppenderRef ref="file" />
         <AppenderRef ref="console" />
      </Logger>
      <Logger name="org.hibernate.SQL" level="warn" additivity="false">
         <AppenderRef ref="file" />
         <AppenderRef ref="console" />
      </Logger>

      <!-- Jackson -->
      <logger name="com.fasterxml.jackson" level="warn" additivity="false">
         <AppenderRef ref="file" />
         <AppenderRef ref="console" />
      </logger>

      <!-- Jetty -->
      <logger name="org.eclipse.jetty" level="warn" additivity="false">
         <AppenderRef ref="file" />
         <AppenderRef ref="console" />
      </logger>

      <Root level="error">
         <AppenderRef ref="file" />
         <AppenderRef ref="console" />
      </Root>
   </Loggers>

</Configuration>