<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container flex-grow-1 py-2">
      <header>
         <h1 class="border-bottom">Create user</h1>
      </header>
      <section id="form">
         <form action="#" th:action="@{/users/save}" th:object="${form}"
            method="post" role="form" class="form">
            <!-- Username input -->
            <div class="mb-3 row"
               th:classappend="${#fields.hasErrors('username')} ? 'error'">
               <label class="col-sm-2 col-form-label" for="username">Username</label>
               <div class="col-sm-10">
                  <input type="text" th:field="*{username}" class="form-control"
                     placeholder="Username">
                  <!-- Validation errors -->
                  <p th:if="${#fields.hasErrors('username')}"
                     class="label label-danger" th:errors="*{username}">Error</p>
               </div>
            </div>
            <!-- Password input -->
            <div class="mb-3 row"
               th:classappend="${#fields.hasErrors('password')} ? 'error'">
               <label class="col-sm-2 col-form-label" for="password">Password</label>
               <div class="col-sm-10">
                  <input type="password" th:field="*{password}" class="form-control">
                  <!-- Validation errors -->
                  <p th:if="${#fields.hasErrors('password')}"
                     class="label label-danger" th:errors="*{password}">Error</p>
               </div>
            </div>
            <!-- Enabled input -->
            <div class="mb-3 row">
               <div class="col-sm-2">
                  <label for="enabled" class="col-form-label">Enabled</label>
               </div>
               <div class="col-sm-10">
                  <input type="checkbox" class="form-check-input"
                     th:field="*{enabled}">
               </div>
            </div>
            <!-- Locked input -->
            <div class="mb-3 row">
               <div class="col-sm-2">
                  <label for="enabled" class="col-form-label">Locked</label>
               </div>
               <div class="col-sm-10">
                  <input type="checkbox" class="form-check-input"
                     th:field="*{locked}">
               </div>
            </div>
            <!-- Expired input -->
            <div class="mb-3 row">
               <div class="col-sm-2">
                  <label for="enabled" class="col-form-label">Expired</label>
               </div>
               <div class="col-sm-10">
                  <input type="checkbox" class="form-check-input"
                     th:field="*{expired}">
               </div>
            </div>
            <div class="col-sm-2 d-grid gap-2">
               <button type="submit" class="btn btn-primary" aria-label="Save">Save</button>
            </div>
         </form>
      </section>
   </section>

   <footer>
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>
