<!DOCTYPE html>

<html lang="en">

<head th:fragment="header">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <title>Spring MVC Security Example</title>

   <!-- Metadata -->
   <meta name="description" th:content="${pageDescription}">
   <meta name="keywords" th:content="${pageKeywords}">
   <meta name="author" th:content="${pageAuthor}">

   <!-- CSS -->
   <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/materia/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous">
   <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>