<header th:fragment="menu">
   <nav id="navbar-main"
      class="navbar navbar-expand-md navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
      <div class="container-fluid">
         <a class="navbar-brand" th:href="@{/}">Spring MVC Security
            Example</a>

         <div id="navbar-icons" class="col-sm d-none d-md-block">
            <small class="navbar-text" sec:authorize="isAuthenticated()">
               <form th:action="@{/logout}" method="POST">
                  <label for="logout" th:text="${#authentication?.name}">username</label>
                  <button id="logout" type="button" class="link-secondary">
                     <i class="fa-solid fa-right-from-bracket"></i>
                  </button>
               </form>
            </small>
         </div>
         <div class="collapse navbar-collapse" id="navbar-main-menu">
            <ul class="nav navbar-nav ms-auto">
               <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="mainDropdown" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                           <span th:remove="tag">Pages</span>
                        </a>
                  <ul class="dropdown-menu dropdown-menu-end"
                     aria-labelledby="mainDropdown">
                     <li><a th:href="@{/users}" class="dropdown-item"
                        title="Users List">Users List</a></li>
                     <li><a th:href="@{/users/create}" class="dropdown-item"
                        title="Add User">Add User</a></li>
                  </ul></li>
            </ul>
         </div>
      </div>
   </nav>
</header>