<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container flex-grow-1 py-2">
      <header>
         <h1 class="border-bottom">Edit user roles</h1>
      </header>
      <section id="form">
         <div class="card">
            <div class="card-body">
               <div class="panel panel-default">
                  <div class="panel-body">
                     <form action="#" th:action="@{/users/roles/update}"
                        th:object="${form}" th:method="put" role="form">
                        <!-- Username input -->
                        <div class="mb-3 row">
                           <label class="col-sm-2 col-form-label" for="username">Username</label>
                           <div class="col-sm-10">
                              <input type="text" th:field="*{username}" class="form-control"
                                 readonly="true">
                           </div>
                        </div>
                        <th:block th:each="role : ${roles}">
                           <!-- Role input -->
                           <div class="form-group">
                              <div class="controls">
                                 <div class="checkbox">
                                    <label> <input type="checkbox" th:field="*{roles}"
                                       th:value="${role.name}"> <th:block
                                          th:text="${role.name}"></th:block>
                                    </label>
                                 </div>
                              </div>
                           </div>
                        </th:block>
                        <div class="col-sm-2 d-grid gap-2">
                           <button type="submit" class="btn btn-primary" aria-label="Save">Save</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </section>

   <footer>
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>
